.enterprise-selector {
  padding: var(--space-px-3) var(--space-px-4);
}

.enterprise-header {
  margin-bottom: var(--space-px-3);
}

.enterprise-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.enterprise-item {
  margin: 0;
}
